<div class="jumbotron">
    <h2><?php echo $h2; ?></h2>
    <p>Добро пожаловать: <?php echo $name; ?><a class="btn btn-lg btn-success pull-right" href="/admin/logout" role="button">Выход</a></p>
</div>
<div class="row marketing">
    <div class="col-xs-12">
        <div class="col-sm-3 text-right">
            Сотрировать:
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4"><a
                            href="/admin?name=<?php echo $order_name ? 'asc' : 'desk'; ?>">name: <?php echo isset($get['name']) ? ($order_name ? '▲' : '▼') : ''; ?></a>
                </div>
                <div class="col-sm-4"><a
                            href="/admin?email=<?php echo $order_email ? 'asc' : 'desk'; ?>">email: <?php echo isset($get['email']) ? ($order_email ? '▲' : '▼') : ''; ?></a>
                </div>
                <div class="col-sm-4"><a
                            href="/admin?status=<?php echo $order_status ? 'asc' : 'desk'; ?>">status: <?php echo isset($get['status']) ? ($order_status ? '▲' : '▼') : ''; ?></a>
                </div>
            </div>
        </div>
    </div>
    <?php foreach ($tiket as $value) { ?>
        <div class="col-xs-12">
            <div class="col-sm-3">
                <div class="row text-center">
                    <img src="<?php echo $value->image ? $value->image : 'image/noimage.jpg'; ?>"
                         alt="<?php echo $value->name ?>">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <h4 class="col-sm-4">name: <?php echo $value->name; ?></h4>
                    <h4 class="col-sm-4">email: <?php echo $value->email; ?></h4>
                    <h4 class="col-sm-4">status: <?php echo $value->status ? 'завершено' : 'открыто'; ?></h4>
                </div>
                <hr>
                <p><?php echo $value->content; ?></p>
                <p>
                    <a class="btn btn-xs btn-success pull-right" href="/admin/edit?id=<?php echo $value->id; ?>">редактировать</a>
                </p>
            </div>
        </div>
    <?php } ?>
    <?php echo $pagination; ?>
</div>