<div class="jumbotron">
    <h2><?php echo $h2; ?></h2>
    <p><a class="btn btn-lg btn-info" href="../../index.php" role="button">Отмена</a></p>
</div>
<div class="row marketing edit">
    <form action="" method="post">
        <?php if ($save) { ?>
            <div class="col-sm-12">
                <div class="col-md-8 col-md-offset-2 alert alert-success save">Сохраненно</div>
                <script>
                    window.onload = function () {
                        setTimeout("$('.alert').parent().remove();", 2500);
                    }
                </script>
            </div>
        <?php } ?>
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="InputStatus">Статус: </label>
                        <select class="form-control" name="InputStatus" id="InputStatus">
                            <option<?php echo $InputStatus == 0 ? ' selected="selected"' : ''; ?> value="0">открыто
                            </option>
                            <option<?php echo $InputStatus == 1 ? ' selected="selected"' : ''; ?> value="1">закрыто
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="InputText">Текст тикета</label>
                        <textarea class="form-control" rows="9" name="InputText" id="InputText" required="required"
                                  placeholder="Текст тикета"><?php echo $InputText; ?></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
