<div class="jumbotron">
    <h2><?php echo $h2; ?></h2>
    <p><a class="btn btn-lg btn-info" href="/" role="button">Отмена</a></p>
</div>
<div class="row marketing">
    <form action="" method="post">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <small class="form-text text-muted error"><?php echo $error; ?></small>
                <div class="form-group">
                    <label for="login">Логин: </label>
                    <input type="text" name="login" id="login" value="<?php echo $login; ?>" required="required"
                           class="form-control" placeholder="Введите свой логин">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" value="<?php echo $password; ?>" class="form-control"
                           id="password" required="required" placeholder="Введите пароль">
                </div>
            </div>
            <div class="row">
                <hr>
                <button type="submit" class="btn btn-primary btn-lg">Вход</button>
            </div>
        </div>
    </form>
</div>