.footer {
    padding: 4rem 0;
    margin-top: 4rem;
    background-color: #f7f7f7;
}
.hidden{display: none !important;}
img{max-width: 100%}
.error{color:red;}
.modal-dialog.review{width: 1000px;max-width: 100%}
hr{margin-top: 0px;}
.alert.alert-success.save{margin-top: -70px;margin-bottom: -30px}
div.edit{padding-top: 50px}