<head>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#"><?php echo $site_name; ?></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav mr-auto">
                <?php $num = 0; foreach ($all_menu as $menu) { $num++;
                    if (empty($menu['child'])) { ?>
                    <li class="nav-item<?php echo $current_url == trim($menu['url'], "/") ? ' active' : ''; ?>">
                        <a class="nav-link" href="<?php echo $menu['url']; ?>"><?php echo $menu['name']; ?></a>
                    </li>
                    <?php } else { ?>
                        <li class="nav-item dropdown<?php echo $current_url == trim($menu['url'], "/") ? ' active' : ''; ?>">
                            <a class="nav-link dropdown-toggle" href="<?php echo $menu['url']; ?>" id="dropdown-menu<?php echo $num; ?>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><?php echo $menu['name']; ?></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-menu<?php echo $num; ?>">
                                <?php foreach ($menu['child'] as $child_menu) { ?>
                                    <a class="dropdown-item" href="<?php echo $child_menu['url']; ?>"><?php echo $child_menu['name']; ?></a>
                                <?php } ?>
                            </div>
                        </li>
                    <?php } ?>
                <?php } ?>
            </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
        </div>
    </nav>
</head>