<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">{{ site_name }}</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                <ul class="navbar-nav mr-auto">
                    {% for num,menu in all_menu %}
                    {% if not menu.child %}
                        <li class="nav-item{% if current_url = menu.url %} active{% endif %}">
                            <a class="nav-link" href="{{ menu.url }}">{{ menu.name }}</a>
                        </li>
                    {% else %}
                    <li class="nav-item dropdown{% if current_url == menu.url %} active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{ menu.url }}" id="dropdown-menu{{ num }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ menu.name }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-menu{{ num }}">
                            {% for child_menu in menu %}
                                <a class="dropdown-item" href="{{ child_menu.url }}">{{ child_menu.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>