<?php echo $top_menu; ?>
<div class="container">
<div class="jumbotron">
    <h2><?php echo $not_page_title; ?></h2>
</div>
<div class="row marketing">
    <p><?php echo $not_page_text; ?></p>
    <p><?php echo $not; ?></p>
</div>
</div>