<!doctype html>
<html lang="{{ this.route['language'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <meta name="keywords" content="{{ keywords }}"/>
    {% for val in meta %}
        <meta name="{{ val.name }}" content="{{ val.content }}"/>
    {% endfor %}
    {% for links in link %}
        <link{% for key,val in links %} {{ key }}="{{ val }}"{% endfor %}/>
    {% endfor %}
    {% for data in script %}
        {% if data.src %}
            <script src="{{ data.src }}" type="text/javascript"></script>
            {% elseif  data.text %}
            <script><!--
                {{ data.text }}
                --></script>
        {% endif %}
    {% endfor %}
</head>
<body>