<!doctype html>
<html lang="<?php echo $this->route['language']; ?>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <?php
    $this->getTitle();
    $this->getDescription();
    $this->getKeywords();
    $this->getMeta();
    $this->getLink();
    ?>
</head>
<body>