<?php echo $top_menu; ?>
<div class="container">
<div class="row">
    <div class="col-xl-12 jumbotron">
    <h2><?php echo $h2; ?></h2>
    <p><a class="btn btn-lg btn-success" href="/newmatch" role="button">Добавить матч</a></p>
    </div>
</div>
    <div class="row">
        <div class="col-sm-3 text-right">
            Сотрировать:
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4"><a
                            href="?name=<?php echo $order_name ? 'asc' : 'desk'; ?>">match login: <?php echo isset($get['name']) ? ($order_name ? '▲' : '▼') : ''; ?></a>
                </div>
                <div class="col-sm-4"><a
                            href="?game=<?php echo $order_game ? 'asc' : 'desk'; ?>">match game: <?php echo isset($get['email']) ? ($order_game ? '▲' : '▼') : ''; ?></a>
                </div>
                <div class="col-sm-4"><a
                            href="?status=<?php echo $order_status ? 'asc' : 'desk'; ?>">match status: <?php echo isset($get['status']) ? ($order_status ? '▲' : '▼') : ''; ?></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="collapse-group">
    <?php foreach ($match as $key => $value) { ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="row text-center">
                            <img src="<?php echo $value->image ? $value->image : 'image/noimage.jpg'; ?>"
                                 alt="<?php echo $value->match_login ?>">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <h4 class="col-sm-4">match_login: <?php echo $value->match_login; ?></h4>
                            <h4 class="col-sm-4">match_game: <?php echo $value->match_game; ?></h4>
                            <h4 class="col-sm-4">status: <?php echo $value->status ? 'завершено' : 'открыто'; ?></h4>
                        </div>
                        <hr>
                        <?php /*<p><?php echo $value->match_id; ?></p>*/ ?>
                        <p class="panel-title"><a href="#match<?php echo $key; ?>" data-toggle="collapse" aria-expanded="false" class="collapsed">Показать детали матча</a></p>
                        <div id="match<?php echo $key; ?>" class="panel-collapse collapse" aria-expanded="false" data-parent="#collapse-group">
                            <div class="panel-body">
                                <?php  foreach($value->content as $key => $table){ ?>
                                    <h3><?php echo $this->language->get($key);?> </h3><span><?php echo $table['result']; ?></span>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <?php foreach($table[0] as $key => $val){ ?>
                                                <th><?php echo ( $key ? $this->language->get($key) : ''); ?></th>
                                            <?php } ?>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach($table as $key => $tr){ if($key == 'result'){continue;}?>
                                            <tr>
                                                <?php foreach($tr as $td){ ?>
                                                    <td><?php echo $td; ?></td>
                                                <?php } ?>
                                            </tr>
                                        <?php } ?>
                                        </tbody>
                                    </table>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
    </div>
    <?php echo $pagination; ?>
</div>