{% autoescape false %}{{ top_menu }}{% endautoescape %}
<div class="container">
    <div class="row">
        <div class="col-xl-12 jumbotron">
            <h2>{{ h2 }}</h2>
            <p><a class="btn btn-lg btn-success" href="/newmatch" role="button">Добавить матч</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-right">
            Сотрировать:
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4"><a
                    href="?name={% if order_name %}asc{% else %}desk{% endif %}">match login: {% if get.name  %}{% if order_name %}▲{% else %}▼{% endif %}{% endif %}</a>
                </div>
                <div class="col-sm-4"><a
                    href="?game={% if order_game %}asc{% else %}desk{% endif %}">match game: {% if get.game  %}{% if order_game %}▲{% else %}▼{% endif %}{% endif %}</a>
                </div>
                <div class="col-sm-4"><a
                    href="?status={% if order_status %}asc{% else %}desk{% endif %}">match status: {% if get.status  %}{% if order_status %}▲{% else %}▼{% endif %}{% endif %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="collapse-group">
        {% for key, value in match %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="row text-center">
                            <img src="{% if not value.image %}image/noimage.jpg{% else %}{{ value.image }}{% endif %}" alt="{{ value.match_login}}">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <h4 class="col-sm-4">match_login: {{ value.match_login}}</h4>
                            <h4 class="col-sm-4">match_game: {{ value.match_game}}</h4>
                            <h4 class="col-sm-4">status: {% if value.status %}завершено{% else %}открыто{% endif %}</h4>
                        </div>
                        <hr>
                        <p class="panel-title"><a href="#match{{ key }}" data-toggle="collapse" aria-expanded="false" class="collapsed">Показать детали матча</a></p>
                        <div id="match{{ key }}" class="panel-collapse collapse" aria-expanded="false" data-parent="#collapse-group">
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% endfor %}
    </div>
    {% autoescape false %}{{ pagination }}{% endautoescape %}
</div>