<?php echo $top_menu; ?>
<div class="container">
<div class="jumbotron">
    <h2><?php echo $h2; ?></h2>
    <p><a class="btn btn-lg btn-info" href="/" role="button">Отмена</a></p>
</div>
<div class="row marketing">
    <form action="" method="post" class="container">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="InputName">Ваше имя/логин в матче</label>
                        <input type="text" name="InputName" value="<?php echo $InputName; ?>" required="required"
                               class="form-control" id="InputName" placeholder="Введите отслеживаемый логин в игре">
                        <small class="form-text text-muted error"><?php echo $error_name ?></small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="InputMatch">Введите идентификатор матча</label>
                        <input type="text" name="InputMatch" value="<?php echo $InputMatch; ?>" class="form-control"
                               id="InputMatch" required="required" placeholder="Введите идентификатор вашего матча">
                        <small class="form-text text-muted error"><?php echo $error_match; ?></small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <label class="head-image">Загрузите аватар</label>
                    <img id="image" src="image/noimage.jpg" alt="">
                    <progress id="progressbar" class="hidden" value="0" max="100"></progress>
                    <input type="file" id="loadImage" class="hidden">
                    <input type="hidden" name="InputImage" id="imageFile" value="<?php echo $InputImage; ?>"
                           class="hidden">
                    <button type="button" class="btn btn-primary" id="InputImage">Загрузить</button>
                    <small class="form-text text-muted error"></small>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="InputGame">Выберите игру</label>
                        <select class="form-control" name="InputGame" id="InputGame" required="required">
                            <option value="cs:go"<?php echo $InputGame == 'cs:go' ? ' selected':''; ?>>CS:GO</option>
                            <option value="dota2"<?php echo $InputGame == 'dota2' ? ' selected':''; ?>>Dota 2</option>
                        </select>
                        <small class="form-text text-muted error"><?php echo $error_game; ?></small>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <?/*<button type="button" data-toggle="modal" data-target="#review" class="btn btn-info review">Предварительный просмотр</button>*/?>
                </div>
            </div>
        </div>

        <?/*<div id="review" class="modal fade">
            <div class="modal-dialog review">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Предварительный просмотр</h4>
                    </div>
                    <div class="modal-body row">

                        <div class="col-xs-12">
                            <div class="col-sm-3">
                                <div class="row text-center">
                                    <img src=""/>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <h4 class="col-sm-4 name">name: </h4>
                                    <h4 class="col-sm-4 email">email: </h4>
                                    <h4 class="col-sm-4">status: открыто</h4>
                                </div>
                                <hr>
                                <p> </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
                </div>
            </div>
        </div>*/?>

        <script>
            window.onload = function () {
                $('button.review').on('click', function(){
                    $('.review img').attr('src',$('#image').attr('src'));
                    $('.review h4.name').text('name: '+$('#InputName').val());
                    $('.review h4.email').text('email: '+$('#InputEmail').val());
                    $('.review .row p').text($('#InputText').val());
                });

                $('#InputImage').on('click', function () {
                    $('#loadImage').click();
                });

                $('#loadImage').on('change', function (event) {
                    var file_data = $('#loadImage').prop('files')[0];
                    var form_data = new FormData();
                    form_data.append('file', file_data);
                    $.ajax({
                        url: '/upload',
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: form_data,
                        type: 'post',
                        success: function (data) {
                            $('#progressbar').addClass('hidden');
                            if (data.success) {
                                $('#imageFile').val(data.success);
                                $('#image').attr('src', data.success + '?' + Math.random());
                            }
                            else {
                                $('.head-image').text(data.error);
                                setTimeout("$('.head-image').text('Загрузите изображение')", 2500);
                            }
                        },
                        xhr: function () {
                            $('#progressbar').removeClass('hidden');
                            var xhr = $.ajaxSettings.xhr();
                            xhr.upload.addEventListener('progress', function (evt) {
                                if (evt.lengthComputable) {
                                    var load = Math.ceil(evt.loaded / evt.total * 100);
                                    $('#progressbar').val(load).text('Загружено ' + load + '%');
                                }
                            }, false);
                            return xhr;
                        }
                    });
                });
            };
        </script>
    </form>
</div>
</div>